---
// Hero component script if needed
---

<section id="getinv" class="getInvolved">
  <h1>Become a Member</h1>
  <p>
    Join our community and enjoy the benefits of membership, including access to
    resources, programs, and events.
  </p>
  <h1>Volunteer Your Time</h1>
  <p>
    Contribute to our mission by volunteering your skills and time at various
    events and initiatives. We welcome your support.
  </p>
  <h1>Donate to Our Cause</h1>
  <p>
    Support our work and help us empower the Sudanese community in Sweden. Your
    contribution makes a difference.
  </p>
</section>

<style>
  .getInvolved {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #d1ffcf; /* Light grey, you can change this */
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
</style>
