<section id="home" class="hero">
  <h1>Sudanese Society in Sweden</h1>
  <p>
    Bridging cultures, empowering communities, celebrating Sudanese heritage in
    Sweden.
  </p>
</section>

<style>
  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #ffdef5;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
</style>
