---
// Hero component script if needed
---

<section id="ourpor" class="ourProgram">
  <h1>Our Programs</h1>
  <ul>
    Educational Programs
    <li>Language classes</li>
    <li>Career development workshops</li>
    <li>Mentorship programs</li>
  </ul>
  <ul>
    Cultural Events
    <li>Traditional music and dance performances</li>
    <li>Food festivals and cooking classes</li>
    <li>Art exhibitions and workshops</li>
  </ul>
  <ul>
    Community Support
    <li>Social gatherings and networking events</li>
    <li>Support groups and resources for newcomers</li>
    <li>Advocacy and outreach initiatives</li>
  </ul>
</section>

<style>
  .ourProgram {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #edffbd; /* Light grey, you can change this */
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
</style>
